# Generated unbound.conf

server:
    verbosity: 1
    interface: {{ ansible_host }} # Listens for LAN clients
    interface: 127.0.0.1  # Listens for DNSCrypt-proxy
    port: 53
    access-control: {{ ansible_host }}/24 allow
    access-control: 127.0.0.0/8 allow 
    logfile: /var/log/unbound.log

    # Disable Unbound's own recursion
    do-not-query-localhost: no
    do-ip6: no
    do-daemonize: no
    hide-identity: yes
    harden-glue: yes
    harden-dnssec-stripped: yes
    use-caps-for-ids: yes
    prefetch: yes
    cache-max-ttl: 86400
    cache-min-ttl: 3600

    # Enable DNSSEC
    auto-trust-anchor-file: "/var/unbound/root.key" # NOTE: can be fetched/updated with `unbound-anchor -a "/var/unbound/root.key"`
    val-clean-additional: yes
    val-log-level: 1
    ipsecmod-enabled: yes
    module-config: "ipsecmod validator iterator"
    validator:
      validator-config: yes

    local-zone: "{{ domain }}" static
    {% for host in hosts %}
    local-data: "{{ host.fqdn }} IN A {{ host.ipv4 }}"
    {% endfor %}

    forward-zone:
        name: "."
        forward-addr: 127.0.0.1@5353  # DNSCrypt-proxy
