<wan>
  <enable>1</enable>
  <if>{{ interfaces.wan.name }}</if>
  <mtu />
  <ipaddr>dhcp</ipaddr>
  <ipaddrv6/>
  <subnet/>
  <gateway/>
  <blockpriv>1</blockpriv>
  <blockbogons>1</blockbogons>
  <dhcphostname/>
  <media/>
  <mediaopt/>
  <dhcp-ia-pd-len>0</dhcp-ia-pd-len>
</wan>
