#!/bin/bash

if kvmd-otgconf | grep -q "^+ hid.usb0"; then
    echo "[INFO] Local input is currently ENABLED. Switching to REMOTE (web) control..."
    {% for hid in hid_devices %}
    kvmd-otgconf --disable-function {{ hid }}
    {% endfor %}
else
    echo "[INFO] Local input is currently DISABLED. Switching to LOCAL control..."
    {% for hid in hid_devices %}
    kvmd-otgconf --enable-function {{ hid }}
    {% endfor %}
fi

