# Generated unbound.conf

server:
    do-ip6: no
    verbosity: 1
    interface: 0.0.0.0
    port: "{{ dns_internal_port }}"
    access-control: 127.0.0.0/8 allow
    access-control: 10.0.0.0/8 allow

    logfile: /var/log/unbound.log

    cache-max-ttl: 86400
    cache-min-ttl: 3600

    auto-trust-anchor-file: "/var/lib/unbound/root.key"

    # Internal-only zone
    local-zone: "{{ dns_internal_domain }}" static
    local-data: "{{ dns_internal_host_fqdn }} A {{ dns_internal_host_ipv4 }}"

    auth-zone:
      name: "{{ dns_internal_domain }}."
      # The top-level DNS, usually the router
      master: "{{ dns_internal_master_ipv4 }}"
    # forward-zone:
    #     name: "."
    #     forward-addr: "{{ dns_internal_authoritative_ipv4 }}@{{ dns_internal_port }}"
