<lan>
  <enable>1</enable>
  <if>{{ interfaces.lan.name }}</if>
  <mtu />
  <ipaddr>{{ interfaces.lan.ipv4 }}</ipaddr>
  <subnet>{{ interfaces.lan.subnet }}</subnet>
  <ipaddrv6/>
  <subnet/>
  <gateway/>
  <gatewayv6/>
  <media/>
  <mediaopt/>
</lan>
