---
name: Build ISO

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Install tools
        run: |
          go install kcl-lang.io/cli/cmd/kcl@latest
          echo "$HOME/go/bin" >> $GITHUB_PATH

      - name: Build ISO
        run: |
          make build
