---
name: Build ISO

on:
  pull_request:
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build ISO
        run: |
          make build
  
