---
name: Build ISO

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Install tools
        run: |
          go install kcl-lang.io/cli/cmd/kcl@latest
          echo "$HOME/go/bin" >> $GITHUB_PATH

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.0"

      - uses: terraform-linters/setup-tflint@v6
        name: Setup TFLint
        with:
          tflint_version: v0.52.0
          cache: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Install QEMU
        run: |
          sudo apt-get update
          sudo apt-get install -y libvirt-daemon-system libvirt-clients qemu-system
          sudo systemctl enable --now virtqemud.service
          sudo systemctl enable --now virtproxyd.service

      - name: Get resources
        run: |
          make resources

      - name: Build ISO
        run: |
          make build
